@model LoLMatchHistory.FormModels.InputMatchup

@{
    ViewData["Title"] = "Matchup";
}

@using (Html.BeginForm("Add", "Api", FormMethod.Post))
{
    @Html.EditorFor(x => x.Win)

    @*<select name="win">
            <option value="True">Win</option>
            <option value="False">Lose</option>
        </select>*@

    <button type="submit">Add</button>
}